ul.g-admin-options
  li
    a.g-server-config(href="#settings")
      i.icon-cog-alt
      |  系统设置
  li
    a.g-plugins-config(href="#plugins")
      i.icon-puzzle
      |  插件管理
  li
    a.g-assetstore-config(href="#assetstores")
      i.icon-box-1
      |  资源库管理
