.g-collection-list-header

  .g-collection-pagination

  if getCurrentUser()
    button.g-collection-create-button.btn.btn-sm.btn-default
      i.icon-map
      |  新建病理图像库

each collection in collections
  .g-collection-list-entry.g-top-level-list-entry(public=(collection.get('public') ? "true" : "false"))
    .g-list-public-status-icon
      if collection.get('public')
        i.icon-light-up
      else
        i.icon-home
    .g-top-level-list-title-container
      .g-collection-title
        a.g-collection-link(g-collection-cid=collection.cid)
          i.icon-picture
          .g-list-public-status-icon
          b= collection.name()
        span.g-text-fade(public=(collection.get('public') ? 'true' : 'false'))
      if collection.get('description')
        .g-collection-subtitle
          a.g-show-description(state="hidden", cid=collection.cid)
            span Show description
            i.icon-down-dir
    .g-clear-right
    .g-collection-description.hide(cid=collection.cid)
