.g-frontpage-header
  .g-frontpage-logo-container
    img.g-frontpage-logo(src=require('girder/assets/Girder_Mark.png'))
  .g-frontpage-title-container
    .g-frontpage-title PathoVision
    .g-frontpage-subtitle
    .g-frontpage-subtitle
    .g-frontpage-subtitle
    .g-frontpage-subtitle 一站式AI医学图像处理

.g-frontpage-body
 .g-frontpage-paragraph
   .g-frontpage-welcome-text-content
     i.g-frontpage-welcome-text 欢迎来到#{brandName}!
   ul
     if !currentUser
       li 请先登录或注册账户。
       ul
         li
           | 注册账户，请点击
           a.g-register-link  注册

         li
           | 如果您已有账户，请点击
           a.g-login-link  登录
     else
       li
         | 欢迎
         b  #{currentUser.get('login')}
         | 回来。

img.pv-frontpage-welcome-image(src=require('girder/assets/frontpage_image.png'))
