ul.g-folder-list
  each folder in folders
    li.g-folder-list-entry(public=(folder.get('public') ? 'true' : 'false'))
      if checkboxes
        input.g-list-checkbox(type="checkbox", g-folder-cid=folder.cid)
      a.g-folder-list-link(g-folder-cid=folder.cid, href=`#folder/${folder.id}`)
        i.icon-archive
        = folder.get('name')
      .g-folder-privacy
  if hasMore
    li.g-show-more
      a.g-show-more-folders
        i.icon-level-down
        | 显示更多......
