input.input-sm.form-control.g-widget-metadata-key-input(type="text", value=key, placeholder="Key")

.g-json-editor

button.btn.btn-sm.btn-warning.g-widget-metadata-cancel-button(title="取消")
  i.icon-cancel-circled
button.btn.btn-sm.btn-primary.g-widget-metadata-save-button(title="确定")
  i.icon-ok
if !newDatum
  button.btn.btn-sm.btn-primary.g-widget-metadata-toggle-button(title="转化")
    i.icon-cog
  button.btn.btn-sm.btn-danger.g-widget-metadata-delete-button(title="删除")
    i.icon-trash
