.g-plugin-config-breadcrumbs
  ol.breadcrumb
    li
      a.g-admin-console-link
        i.icon-wrench
        | 管理控制台
    li
      a.g-plugins-link
        i.icon-puzzle
        | 插件
    li.active
      i.icon-cog
      | #{pluginName}
