- selected = selected || {id: ''};
select#g-root-selector.form-control(required)
  if !selected.id
    option(value="", disabled, selected, hidden) 选择要打开的图像
  each groupName in display
    if groupName === 'Home' && home
    else if groupName in groups
      - var group = groups[groupName];
      if groupName ==='Collections'
        each model in group.models
          if !home || model.id !== home.id
            option(value=model.id, data-group=groupName, selected=model.id === selected.id)= format(model)
