mixin g-upload-widget-subtitle
  if parent && parentType
    .g-dialog-subtitle
      if (parentType === 'folder')
        i.icon-archive
      else if (parentType === 'item')
        i.icon-palette
      else if (parentType === 'file')
        i.icon-clipboard
      = parent.name()

mixin g-upload-widget-browse-or-drop
  .pv-g-drop-zone
    i.icon-docs
    |  #{browseText}
  .form-group.hide
    input#g-files(type="file", multiple=(multiFile ? 'multiple' : null))

mixin g-upload-widget-progress
  .g-current-progress-message
  .g-progress-current.progress.progress-striped.hide
    .progress-bar.progress-bar-info(role="progressbar")
  .g-overall-progress-message= noneSelectedText
  .g-progress-overall.progress.progress-striped.hide
    .progress-bar.progress-bar-info(role="progressbar")
  .g-upload-error-message.g-validation-failed-message

mixin g-upload-widget-start-button
  button.button.g-start-upload.btn.btn-small.pv-btn-primary.disabled(type="submit", disabled)
    |  上传
    i.icon-rocket
