.g-footer-links
  a#g-about-link(href="http://bme.szu.edu.cn/20171/1113/62.html") 了解博思微视
  if contactHref
    a#g-contact-link(href=contactHref) 联系我们
  a#g-return-link(href="") 返回首页
//   a(href=apiRoot) Web API
//   a#g-bug-link(href="https://github.com/girder/girder/issues/new") Report a bug
//   if privacyNoticeLink
//     a#g-privacy-notice-link(href=privacyNoticeLink) Privacy Notice
.g-footer-info
  | &reg; PathoVision, Inc.
