.modal-dialog
  .modal-content
    form#g-register-form.modal-form(role="form")
      .modal-body
        #g-group-login.form-group
          label.control-label(for="g-login") 用户名
          input#g-login.input-sm.form-control(type="text", placeholder="请输入用户名")
        #g-group-email.form-group
          label.control-label(for="g-email") 邮箱
          input#g-email.input-sm.form-control(type="text", placeholder="请输入邮箱")
        #g-group-password.form-group
          label.control-label(for="g-password") 密码
          input#g-password.input-sm.form-control(type="password", placeholder="请输入密码")
        #g-group-password2.form-group
          label.control-label(for="g-password2") 再输入密码
          input#g-password2.input-sm.form-control(type="password", placeholder="请再输入密码")
        .g-validation-failed-message
        if !currentUser
          .g-bottom-message
            | 已经有账户?
            a.g-login-link  在这里登录.
      .modal-footer
        button.back.btn.btn-default(data-dismiss="modal") 关闭
          i.icon-cancel-circled
        button.button#g-register-button.btn.btn-primary(type="submit")
          i.icon-paper-plane
          |  注册
