.modal-dialog
  .modal-content
    form#g-reset-password-form.modal-form(role="form")
      .modal-header
        h4.modal-title 忘记密码
      .modal-body
        .g-password-reset-explanation
          | 如果忘记密码，请输入邮箱。
          | 一个临时链接会被发送到输入的邮箱用于重置密码。
        .form-group
          label.control-label(for="g-email") 邮箱
          input#g-email.input-sm.form-control(type="text", placeholder="请输入邮箱")
        .g-validation-failed-message
        .g-bottom-message
          if registrationPolicy !== 'closed'
            a.g-register-link  注册
            |  |
          a.g-login-link  登录
      .modal-footer
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        button.button#g-reset-password-button.btn.btn-primary(type="submit")
          i.icon-mail
          |  提交
